Binaries
DerivedDataCache
Intermediate
Saved
Build
Content
**/BlackAlder
**/Landscape
**/MedievalDungeon
**/Megascans
**/startercontent
**/Assets

.vscode
.VS
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.sUO
*.xcodeproj
*.xcworkspac