Binaries
DerivedDataCache
Intermediate
Saved
Build
Content

**/BlackAlder
**/Landscape
**/MedievalDungeon
**/Megascans
**/startercontent
**/Assets

*.pdb
*.exp
*.lib
*.dll
*.target
*.modules

.idea
.vsconfig
vscode/
ThirdParty/
Build/

*.uasset
*.umap

.vscode
.VS
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.sUO
*.xcodeproj
*.xcworkspac